{:deps
 {http-kit/http-kit {:mvn/version "2.6.0"}
  compojure/compojure {:mvn/version "1.7.0"}
  com.health-samurai/jute {:mvn/version "0.2.0-SNAPSHOT"}
  com.health-samurai/fhirpath {:git/url "https://github.com/HealthSamurai/fhirpath.clj.git"
                               :git/sha "97dea9575dd1d2fa7be13b55bb1ecd3a3079ede7"}
  io.forward/yaml {:mvn/version "1.0.11"}
  org.clojure/data.json {:mvn/version "2.4.0"}}
 :extra-paths ["test"]
 :aliases {:test {:extra-paths ["test/main/clojure"]
                 :extra-deps  {lambdaisland/kaocha {:mvn/version "0.0-529"}}
                 :main-opts   ["-m" "kaocha.runner"]}}}
